<!DOCTYPE html>
<html>

<head>
    <title>Registration Admin Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <div class="form-container">
        <div class="header">
            <h2>Admin Login</h2>
            <!-- <p></p> -->
        </div>

        <% if (error) { %>
            <p style="color:red;">
                <%= error %>
            </p>
            <% } %>

                <form class="form-grid" method="POST" action="/admin/login">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit">Login</button>
                </form>
    </div>

</body>

</html>